.LogoModal{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: antiquewhite;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.TitleModal{
    font-family: Poppins-Medium;
    font-size: 30px;
    color: black;
    text-align: center;
    text-transform: uppercase;
    display: block;
    margin-top: 15px;
}
.Or {
    margin-top: 40px;
    margin-bottom: 40px;
}

h2 {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 10px 0 20px;
    color: #3B4E4C;
}

h2 span {
    background-color: #fff;
    padding: 0 10px;
    color: #3B4E4C;
}
.googleBtn {
    cursor: pointer;
    margin: 0 38% 0 37%;
}