.card {
    width: 225px;
    height: 400px;
    background-color: #648381;
    margin-left: 13%;
    margin-top: 10%;
    border: solid 8px #353535;
    justify-content: space-between;
}
.imgCont {
    flex-wrap: wrap;
}
.itemInfo{
    text-align: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}