.Button {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}

.Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
}

.Success {
    color: #5C9210;
}

.Danger {
    color: #944317;
}
.View{
    color: aqua;
    margin-top: -35px !important;
}
.Order{
    background-color: rgb(9, 9, 98) !important;
    margin-left: 15% !important;
    color: white !important;
    width: 200px !important;
    border-radius: 10px !important;
    box-shadow: 5px 5px 5px rgba(34, 32, 32, 0.3) !important;
}
.Order:hover{
    background-color: white !important;
    color: rgb(9, 9, 98) !important;
}
.Button:disabled{
    color: #ccc;
    cursor: not-allowed;
}
