.header {
    grid-row: 1 / 4;
    grid-column: 1 / 12;
    z-index: 20;
}

.Title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 120px;
    margin-left: 40%;
    width: 400px;
    color: rgb(3, 121, 81);
    z-index: 30;
}

.lead {
    color: #E98074 !important;
}
@media (min-width: 800px){
    .header{
        margin:0 5%;
    }
}

